<!DOCTYPE html>
<html lang="en">
<head>
<title>Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public\css\style.css" />
<div class="header">
  <h1>Blog</h1>
</div>
<ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/newpost">New Post</a></li>
    <li><a href="/delete">Delete A Post</a></li>
    <li><a href="/update">Edit A Post</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/about">About</a></li>
    <li><form action="/results" method="get">
      <p1>
        <div class="search">
      <input required type="search" id="search" name="search">
      <button name="submit" type="submit">Search</button>
      </div>
</p1>
     </form></li>
  </ul>